/* Typography */
h2 {
    color: var(--vodka-soda-primary);
}

#post-wrapper {
    padding: 2.563rem;
}

.post-banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1.5rem;
    align-items: center;
}

.post-banner img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 100%;
    height: auto;
}

.post-banner .text-content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.text-content h1, .text-content h2, .text-content .small-paragraph  {
    margin: 0;
}

.text-content h2 {
    margin-top: .5rem;
}

.paragraph-container {
    padding: 2.563rem 0;
}

/*MEDIA QUERY SCREEN SIZES*/
/*Desktop*/
@media (min-width: 768px) {
    #post-wrapper {
        padding: 4.063rem;
    }

    .post-banner {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: unset;
        gap: 4.063rem;
    }

    .post-banner img {
        grid-row: unset;
    }

    .post-banner .text-content {
        grid-column: 2 / 3;
        grid-row: unset;
        gap: 1.5rem;
    }

    .text-content h1, .text-content h2, .text-content .small-paragraph  {
        margin: 0;
    }

    .text-content h2 {
        margin-top: 2.563rem;
    }

    .paragraph-container {
        padding: 4.063rem 5.75rem;
    }
}